In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('demanda_fixed.csv.gz',sep =';',compression='gzip')
#termina con unas lineas de log que hay que quitar
df = df.dropna()

In [41]:
df.head()

,FECHA,linea,cochelogico,parada,instante,viajeros,nombre,latitude,longitude
0,20170920,1,1,718,2017-09-20 06:31:13.000,1,CARTAGENA,40.439570,-3.673786
1,20170920,1,1,722,2017-09-20 06:32:26.000,1,CARTAGENA-BEJAR,40.437135,-3.671116
2,20170920,1,1,722,2017-09-20 06:32:28.000,1,CARTAGENA-BEJAR,40.437135,-3.671116
3,20170920,1,1,2307,2017-09-20 06:34:11.000,1,PLAZA DE SAN CAYETANO,40.433904,-3.670554
4,20170920,1,1,451,2017-09-20 06:43:16.000,1,METRO SERRANO,40.426055,-3.687923

In [23]:
lineas = df['linea'].unique()

In [48]:
df[df['linea'] == 1]['parada'].unique()

array([  718.,   722.,  2307.,   451.,    69.,  5135.,  5137.,  3687.,
         737.,   193.,   164.,   424.,   426.,   727.,  2304.,   273.,
         716.,   730.,   732.,   449.,   161.,   166.,   168.,   170.,
         734.,  4021.,  4514.,  4022.,   173.,   169.,   731.,   729.,
         721.,   725.,   728.,   733.,   735.,  5138.,   162.,   425.,
         717.,   738.,   736.,  4816.,   726.,   171.,   167.,    70.,
         172.,   423.,   452.,  1750.,   743.,  2355.,   715.])